<% content_for :sidebar_right do %>
  <% organization = Organization.find_by(id: session[:organization_id]) %>
  <h2>Post to <%= organization.organization_name %> -> Commons</h2>
  <%= render "form" %>
<% end %>
<h1 class="font-bold text-4xl">Your Feed</h1>
<%= turbo_frame_tag "posts" do %>
  <% @posts.each do |post| %>
    <%= render partial: "posts/#{post.post_type}", locals: { post: post } %>
  <% end %>
<% end %>

<%= turbo_frame_tag Post.new do %>
  <% if Post.all.none? %>
    <%= render "empty" %>
  <% end %>
<% end %>
