<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CPLGL781C8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CPLGL781C8');
</script>

<% content_for :sidebar do %>
  <ul>
    <!-- Render the "Browse Communities" heading before the individual community heading -->
    <li class="sidebar-item">
      <h2 class="browse-heading text-2xl font-bold mb-4 mt-4">Browse Communities</h2>
    </li>
    <% @root_topics.each do |root_topic| %>
      <%= render 'shared/nested_topic', topic: root_topic %>
    <% end %>
  </ul>
<% end %>

<% content_for :sidebar_right do %>
  <% organization = Organization.find_by(id: session[:organization_id]) %>
  <h1>Navigate through communities (left sidebar) to post in the right place!</h1>
  <br>
  <strong><h1>Posting here will not post in a specific community!!</h1></strong>
  <%= render "form" %>
<% end %>
<h1 class="font-bold text-4xl">Your Feed</h1>
<%= turbo_frame_tag "posts" do %>
  <% @posts.each do |post| %>
    <%= render partial: "posts/#{post.post_type}", locals: { post: post } %>
  <% end %>
<% end %>

<%= turbo_frame_tag Post.new do %>
  <% if Post.all.none? %>
    <%= render "empty" %>
  <% end %>
<% end %>
