<h1 class="font-bold text-4xl">Communities - <%= Topic.find_by(id: params[:topic_id]).topic_name %></h1>
<%= turbo_frame_tag "posts" do %>
  <% @posts.each do |post| %>
    <%= render partial: "posts/#{post.post_type}_repost_view", locals: { post: post } %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <ul>
    <!-- Render the "Browse Communities" heading before the individual community heading -->
    <li class="sidebar-item">
      <h2 class="browse-heading text-2xl font-bold mb-4 mt-4">Browse Communities</h2>
    </li>
    <% @root_topics.each do |root_topic| %>
      <%= render 'shared/nested_topic', topic: root_topic %>
    <% end %>
  </ul>
<% end %>

<%= turbo_frame_tag Post.new do %>
  <% if Post.all.none? %>
    <%= render "empty" %>
  <% end %>
<% end %>
