
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :sidebar do %>
    <ul>
      <!-- Render the "Browse Communities" heading before the individual community heading -->
      <li class="sidebar-item">
        <h2 class="browse-heading text-2xl font-bold mb-4 mt-4">Browse Communities</h2>
      </li>
      <% @root_topics.each do |root_topic| %>
        <%= render 'shared/nested_topic', topic: root_topic %>
      <% end %>
    </ul>
  <% end %>

  <% content_for :sidebar_right do %>
    <% organization = Organization.find_by(id: session[:organization_id]) %>
    <% topic = Topic.find_by(id: params[:topic_id]) %>
    <h2>Browse through communities (left sidebar) to post in the right place!</h2>
    <br>
    <h2>Post to <%= organization.organization_name %> -> <%= topic.topic_name %></h2>
    <%= render "form" %>
  <% end %>
  

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Communities - <%= @topic.topic_name %></h1>
    <% if current_user.present? %>
      <% if current_user.joined_community?(@organization, @topic) %>
        <%= button_to "Joined", join_community_communities_path, method: :post, params: { organization_id: @organization.id, topic_id: @topic.id }, class: "rounded-lg py-3 px-5 bg-amber-300 text-white block font-medium" %>
      <% else %>
        <%= button_to "Join", join_community_communities_path, method: :post, params: { organization_id: @organization.id, topic_id: @topic.id }, class: "rounded-lg py-3 px-5 bg-amber-800 text-white block font-medium" %>
      <% end %>
    <% end %>
    <%= link_to "Community Info", connection_path(id: params[:topic_id]), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <!-- <%= link_to "New community", new_community_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %> -->
  </div>

  
  <% if !@is_moderator && !@is_moderator_request %>
    <%= button_to "Request to be a moderator", add_moderator_request_path(topic_id: @topic.id), method: :post, params: { topic_id: @topic.id }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", id: "requestButton" %>
  <% elsif @is_moderator_request && !@is_moderator %>
    <p>Moderation request Sent!</p>
  <% elsif @is_moderator && !@is_moderator_request %>
    <p>You are a moderator.</p>
  <% end %>

  <div id="communities" class="min-w-full">
    <%= render @communities %>
  </div>

</div>

<%= turbo_frame_tag "posts" do %>
  <% @posts.each do |post| %>
    <%= render partial: "posts/#{post.post_type}", locals: { post: post } %>
  <% end %>
<% end %>

<%= turbo_frame_tag Post.new do %>
  <% if Post.all.none? %>
    <%= render "empty" %>
  <% end %>
<% end %>
