
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :sidebar do %>
    <ul>
      <!-- Render the "Browse Communities" heading before the individual community heading -->
      <li class="sidebar-item">
        <h2 class="browse-heading">Browse Communities</h2>
      </li>
      <% @root_topics.each do |root_topic| %>
        <%= render 'shared/nested_topic', topic: root_topic %>
      <% end %>

      <li class="sidebar-item">
        <h2 class="browse-heading">Your Organizations</h2>
        <ul>
          <% @profile.user_organizations.each do |user_organization| %>
            <li>
              <%= button_to user_organization.organization.organization_name, switch_organization_path(organization_id: user_organization.organization_id, topic_id: @topic_id), method: :post %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Communities - <%= @topic.topic_name %></h1>
    <%= link_to "New community", new_community_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>


  <div id="communities" class="min-w-full">
    <%= render @communities %>
  </div>

</div>



<div class="mb-8">
  <%= render "form" %>
</div>

<%= turbo_frame_tag "posts" do %>
  <% @posts.each do |post| %>
    <%= render partial: "posts/#{post.post_type}", locals: { post: post } %>
  <% end %>
<% end %>

<%= turbo_frame_tag Post.new do %>
  <% if Post.all.none? %>
    <%= render "empty" %>
  <% end %>
<% end %>
