<div id="<%= dom_id moderator %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= moderator.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Community:</strong>
    <%= moderator.community_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this moderator", moderator, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this moderator", edit_moderator_path(moderator), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
